/** my font **/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
*{
    font-family: 'archivo';
}
.Primary-font{
    font-family: 'archivo';
}

.Primary-color{
    color: #2fd756;
    
}

.btn-color-service{
    color: #383838;
}

.text-bold{
    font-weight: 300;
}

/** ___________________________________________________________ **/


    /**navbar**/

li > a{
    color: #313131 !important;
    padding:  20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;
    border: white 5px;
}

.active{
        color: #2fd756 !important;
        border-bottom: #2fd756 solid;
        border-bottom-width: 5px;
}

.nav-item :hover{
                color: #2fd756 !important;
                border-bottom: #2fd756 solid;
                border-bottom-width: 5px;
                
}

    /**end-navbar**/






/** ___________________________________________________________ **/

/**slider-section**/
.space-lg{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}



.card{
    border-color: #fff;
}

.bg-custom{
    background-image: url('/img/gsm2-slider-bg.png');
    background-repeat: no-repeat;

}

.green-button{
    background-color:rgb(55, 202, 89);
    height: 42px;
    width: 186px;
    color: white;
    white-space: nowrap;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    padding: 1px 30px;
    border-radius: 25px;
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-width: 0px;
}

.green-button:hover{
    background-color: white;
    border: 1px solid rgb(55, 202, 89);
    border-radius: 25px;
    color: rgb(55, 202, 89);
    
}

/**end-section**/


/**
.slideLeftReturn{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.slideRightReturn{
   
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
   
}

**/

.animate__lightSpeedInLeft, .animate__lightSpeedInRight{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;


}



.btn-about{
    background-color:lightgrey;
    height: 42px;
    width: 186px;
    color: #313131;
    white-space: nowrap;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    padding: 1px 30px;
    border-radius: 25px;
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-width: 1px;
    border-style: solid;
    border-color: #dadada;
    border-top-color: rgb(229, 229, 229);
    border-right-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
    border-left-color: rgb(229, 229, 229);
}

.btn-about:hover{
    color: #313131;
    background-color: #edebeb;
    border-color: gray;
}

/**end-section**/

h3{
    color: #161922;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    letter-spacing: 0px;
}

.clink{
    
    background-color: #383838;
    border-radius: 0 0 15px 15px;
    color: whitesmoke;
    text-align: center;
    
}

h6{
    font-size: 17px;
}

.img-thumbnail{
    border-color: rgb(201, 201, 201);
        border-radius: 20px;
        border-bottom: none;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
}


/**end-section**/

.cs-bg{
    background-image: linear-gradient(to right top, #000000, #151515, #242424, #323232, #424242); 
}



.green-button2{
    background-color:rgb(55, 202, 89);
    height: 42px;
    width: 186px;
    color: white;
    white-space: nowrap;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    padding: 1px 30px;
    border-radius: 25px;
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-width: 0px;
}
/**end-section**/

/** avatar **/

.media{
    display: flex;
    align-items: flex-start;
}

.avatar:first-child{
    margin-right: 1.5rem;
}

.avatar.avatar-lg{
    width: 80px;
    height: 80px;
}

.avatar{
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}

.img-verticle{
    vertical-align: middle;
    border-style: none;
}

.media-body {
    flex: 1;
}


li{
    padding-bottom: 10px;
}


/**footer**/

.bg-footer{
    background-image: url('/img/gsm2-footer-bg.png');
    background-position:right;
    background-repeat: no-repeat;
    
    
    
}


.gg-facebook{
    color:#afafaf ;
}

.gg-twitter{
    color:#afafaf ;
}

.gg-instagram{
    color:#afafaf ;
}


.gg-facebook:hover{
    color:#2fd756;
}
.gg-twitter:hover{
    color:#2fd756;
}
.gg-instagram:hover{
    color:#2fd756;
}




